@charset "UTF -8";
/* CSS Document 
Author Name:themeperch
Author URI:http://themeforest.net/user/themeperch?ref=themeperch
Creation Date:
Description:

------------ MEDIA WIDTH ------------- 
	max-width: 800px
	max-width: 640px
	max-width: 480px
	max-width: 360px
*/


@media (max-width:800px) {
	.tab-menu-list ul li{
		padding: 10px;
		font-size: 14px;
	}

	.single-featured-item .pull-right {
	    float: left !important;
	    margin-right: 15px;
	}
	.single-featured-item {
	    text-align: left;
	}

	.featured-image-holder {
	    margin: 50px 0;
	}
	.footer-widget{
		margin-bottom: 30px;
	}

}
@media (max-width:640px) {


}
@media (max-width:480px) {
	.tab-menu-list ul li{
		display: block;
	}
	.tab-menu-list ul li.active{
		border-bottom: 1px solid #ddd;
	}
	.tab-menu-list ul li.active::after{
		bottom: 0;
	}

}
@media (max-width:360px) {


}